.breadcrumbs-container .breadcrumb
  background-color white
.breadcrumbs-container .breadcrumb a
  color #1c3643
.breadcrumb > li + li:before
  content ">"
.Filtros-container .list-group-item.active
  background-color #428bca
  border-color #428bca
.Filtros-container .list-group-item.active:hover
  background-color #fff
  border-color #fff
.List-genero
  padding 0 0 0 1em
.List-genero:hover
  background-color #eee
.Productos-container
  background-color white
.filtros-toggle
  margin-top -20px
