.Catalogo-tittle
  color gray
.Btn btn-ser
  background-color green
.Number
  color gray
.Number1
  text-decoration line-through
  color gray
.Tallas
  font-size 20px
  color gray
.Tallas a
  text-decoration none
  font-size 10px
  box-sizing border-box
.fa fa-heart
  color gray
.btn-lg, btn-ser
  padding 10px 50px
.Catalogo-tittle1
  font-weight bold
  font-size 15px
  color gray
